---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925346&auth.signature=E%2BE0Dd03O/9D7bG16AYAIf/ZWqq4eCFXggIhoQlZkbw=&facet=document.publication&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 5a478485-258b-4052-969c-658d0c096fe4
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQMeH3jIAMFvqw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:07 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&limit=0&offset=0"},"data":[],"meta":{"facets":[{"count":7,"facet":"document.publication","details":[{"data":{"acronym":null,"descr":"Academic
        Standards","guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","title":"Academic
        Standards"},"count":5079},{"data":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","acronym":"CCSS","descr":"Common
        Core State Standards","title":"Common Core State Standards"},"count":2454},{"count":2372,"data":{"guid":"E1D5D8B6-DA22-11E2-95B3-3B359DFF4B22","descr":"Learning
        Standards","acronym":null,"title":"Learning Standards"}},{"count":2030,"data":{"title":"Next
        Generation Sunshine State Standards","guid":"209823E4-2FB7-11DE-BA91-15719DFF4B22","acronym":"NGSSS","descr":"Next
        Generation Sunshine State Standards"}},{"count":1136,"data":{"title":"College
        and Career Ready Standards","acronym":"KCCRS","descr":"College and Career
        Ready Standards","guid":"1FC58C24-ACC2-11E0-BB03-D6D7D51F4EFC"}},{"data":{"acronym":"COS","descr":"Course
        of Study","guid":"9935E84E-C0DA-11DA-844D-F1B58A7EE3C7","title":"Course of
        Study"},"count":1041},{"count":571,"data":{"guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22","descr":"NGSS
        Arranged by Disciplinary Core Idea (DCI)","acronym":null,"title":"NGSS Arranged
        by Disciplinary Core Idea (DCI)"}}]}],"took":108,"offset":0,"limit":0,"count":14683}}'
  recorded_at: Wed, 10 Feb 2021 00:49:07 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925347&auth.signature=gYJGATenmH2JI5zBVFYRA8FBc05qHb/efMuyv9yBdQ4=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid%20eq%20%27964E0FEE-AD71-11DE-9BF2-C9169DFF4B22%27%20and%20utilizations.type%20not%20eq%20%27example%27&limit=100&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 105abf0c-181c-4d36-a632-41481035c8d8
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQMkFPPoAMF6Kg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:07 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"next":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=100","last":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=2300","self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=0"},"data":[{"attributes":{"status":"active","utilizations":[{"type":"clarification"}],"document":{"descr":"English
        Language Arts/Literacy","adopt_year":"2010","guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","publication":{"authorities":[{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"}],"descr":"Common Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22"}},"guid":"00FCCA23-5694-40CB-9EB5-EF98531A660C","label":null,"number":{"prefix_enhanced":null},"education_levels":{"grades":[{"code":"5"}]},"statement":{"descr":"(Editing
        for conventions should demonstrate command of Language standards 1–3 up to
        and including grade 5 on page 29.)"},"section":{"descr":"Grade 5","guid":"5E1166C2-7377-11DF-A1E8-223D9DFF4B22"},"level":4,"disciplines":{"subjects":[{"code":"LANG"}]}},"type":"standards","id":"00FCCA23-5694-40CB-9EB5-EF98531A660C","relationships":{"parent":{"data":{"type":"standards","id":"7FE35494-7440-11DF-93FA-01FD9CFF4B22"},"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/00FCCA23-5694-40CB-9EB5-EF98531A660C/parent"}}}},{"id":"024581B2-74F7-11DF-80DD-6B359DFF4B22","type":"standards","attributes":{"number":{"prefix_enhanced":null},"label":null,"education_levels":{"grades":[{"code":"1"}]},"status":"active","document":{"descr":"English
        Language Arts/Literacy","adopt_year":"2010","guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","publication":{"authorities":[{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B2[...]
[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925347&auth.signature=gYJGATenmH2JI5zBVFYRA8FBc05qHb/efMuyv9yBdQ4=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid%20eq%20%27964E0FEE-AD71-11DE-9BF2-C9169DFF4B22%27%20and%20utilizations.type%20not%20eq%20%27example%27&limit=100&offset=400&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 9546af2b-fe24-4e96-a245-0c8c01b119ce
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQNVHKoIAMFxzw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:12 GMT
    body:
      encoding: UTF-8
      string: "{\"links\":{\"prev\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+'964E0FEE-AD71-11DE-9BF2-C9169DFF4B22'+and+utilizations.type+not+eq+'example'&limit=100&offset=300\",\"first\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+'964E0FEE-AD71-11DE-9BF2-C9169DFF4B22'+and+utilizations.typ[...]
[...]
