---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611125204&auth.signature=VkeWihx0zYYzNDkmvyulsFqDnJGmWgGFixq7hwVxPVM=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - c30065be-bc70-4cdf-be4d-0df017fe22c8
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZblUYHr3oAMF1Sg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 04:46:46 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"facets":[{"details":[{"data":{"guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Indiana
        DOE"},"count":5079},{"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","descr":"Ohio
        DOE","acronym":null},"count":2372},{"count":2372,"data":{"acronym":"CC","descr":"NGA
        Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22"}},{"data":{"acronym":"FDOE","descr":"Florida
        DOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"},"count":2030},{"count":1136,"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE","descr":"Kansas
        State Department of Education"}},{"data":{"guid":"912A8036-F1B9-11E5-862E-0938DC287387","descr":"Alabama
        State Department of Education","acronym":"ALSDE"},"count":1041},{"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","acronym":null,"descr":"Achieve"},"count":571}],"facet":"document.publication.authorities","count":7}],"count":14601,"took":107,"offset":0,"limit":0}}'
  recorded_at: Wed, 20 Jan 2021 04:46:46 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611125206&auth.signature=o033gk3M806OFUMBRWF/3y5NWxJIvB823T8WBnOYnmU=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27%20and%20utilizations.type%20not%20eq%20%27example%27&limit=100&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - c814fb36-9ec4-40d1-a993-71894fec7e7f
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZblUkHG4IAMFkGw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 04:46:47 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"last":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=2200","next":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=100","self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''+and+utilizations.type+not+eq+''example''&limit=100&offset=0"},"data":[{"type":"standards","relationships":{"parent":{"data":{"id":"7D33D7B4-7440-11DF-93FA-01FD9CFF4B22","type":"standards"},"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/024581B2-74F7-11DF-80DD-6B359DFF4B22/parent"}}},"attributes":{"level":3,"disciplines":{"subjects":[{"code":"LANG"}]},"document":{"guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","adopt_year":"2010","publication":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","authorities":[{"acronym":"CC","descr":"NGA
        Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22"}],"descr":"Common
        Core State Standards"},"descr":"English Language Arts/Literacy"},"section":{"descr":"Grade
        1","guid":"5E112B26-7377-11DF-A1E8-223D9DFF4B22"},"label":null,"number":{"raw":null,"enhanced":null},"guid":"024581B2-74F7-11DF-80DD-6B359DFF4B22","statement":{"descr":"Integration
        of Knowledge and Ideas"},"education_levels":{"grades":[{"code":"1"}]},"status":"active"},"id":"024581B2-74F7-11DF-80DD-6B359DFF4B22"},{"type":"standards","relationships":{"parent":{"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/0535D402-769C-11DF-90A5-0D639DFF4B22/parent"},"data":{"id":"0554A76A-769C-11DF-90A5-0D639DFF4B22","type":"standards"}}},"attributes":{"education_levels":{"grades":[{"code":"9"},{"code":"10"}]},"status":"active","statement":{"descr":"Determine
        the meaning of symbols, key terms, and other domain-specific words and phrases
        as they are used in a specific scientific or technical context relevant to
        grades 9–10 texts and topics."},"guid":"0535D402-769C-11DF-90A5-0D639DFF4B22","label":"Grade
        Level Standard","number":{"enhanced":"CCSS.ELA-Literacy.RST.9-10.4","raw":"4."},"utilizations":[{"type":"alignable"}],"document":{"publication":{"authorities":[{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"}],"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","descr":"Common
        Core State Standards"},"descr":"English Language Arts/Literacy","adopt_year":"2010","guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22"},"level":3,"disciplines":{"subjects":[{"code":"LANG"}]},"section":{"guid":"2CF8B94C-74F7-11DF-80DD-6B359DFF4B22","descr":"Grades
       [...]
[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611125206&auth.signature=o033gk3M806OFUMBRWF/3y5NWxJIvB823T8WBnOYnmU=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27%20and%20utilizations.type%20not%20eq%20%27example%27&limit=100&offset=300&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 0a7c90e7-b982-4556-a466-bd36691fde06
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZblVIGjNoAMFQVA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 04:46:50 GMT
    body:
      encoding: UTF-8
      string: "{\"links\":{\"first\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+'A83297F2-901A-11DF-A622-0C319DFF4B22'+and+utilizations.type+not+eq+'example'&limit=100\",\"prev\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.raw,number.enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+'A83297F2-901A-11DF-A622-0C319DFF4B22'+and+[...]
[...]
