---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611122997&auth.signature=jnMFqslxnlcfjUFzaqNejmamxF0oA9LrtDCsnRvqKCA=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 2d67a113-ad16-450f-9f37-b9d89e96844e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - Zbf7aGolIAMFgYg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 04:09:57 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"took":116,"facets":[{"details":[{"count":5079,"data":{"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","acronym":null}},{"data":{"acronym":null,"descr":"Ohio
        DOE","guid":"9127A816-F1B9-11E5-862E-0938DC287387"},"count":2372},{"data":{"descr":"NGA
        Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC"},"count":2372},{"count":2030,"data":{"descr":"Florida
        DOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387","acronym":"FDOE"}},{"data":{"descr":"Kansas
        State Department of Education","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE"},"count":1136},{"count":1041,"data":{"guid":"912A8036-F1B9-11E5-862E-0938DC287387","descr":"Alabama
        State Department of Education","acronym":"ALSDE"}},{"count":571,"data":{"acronym":null,"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve"}}],"facet":"document.publication.authorities","count":7}],"offset":0,"limit":0,"count":14601}}'
  recorded_at: Wed, 20 Jan 2021 04:09:57 GMT
[...]
