---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925375&auth.signature=y0CRrc/eRbVwajXaXpPPkOeU/j98w6uPFGwzJ3hFGAU=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 40297dbe-2160-4071-b07b-b94e98a484a9
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQRBEmRIAMFjmQ=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:36 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"facets":[{"count":7,"facet":"document.publication.authorities","details":[{"data":{"guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","descr":"Indiana
        DOE","acronym":null},"count":5079},{"count":2454,"data":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","acronym":"CC"}},{"count":2372,"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Ohio
        DOE"}},{"count":2030,"data":{"descr":"Florida DOE","acronym":"FDOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"}},{"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","descr":"Kansas
        State Department of Education","acronym":"KSDE"},"count":1136},{"data":{"guid":"912A8036-F1B9-11E5-862E-0938DC287387","acronym":"ALSDE","descr":"Alabama
        State Department of Education"},"count":1041},{"count":571,"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve","acronym":null}}]}],"took":104,"offset":0,"limit":0,"count":14683}}'
  recorded_at: Wed, 10 Feb 2021 00:49:36 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925376&auth.signature=YjIZqdpImG1gvjrlPb4foWEORrpohKPOUcCOLV7h1sw=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - e047239b-f6[...]
