---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608574037&auth.signature=VmVmpqtCWq4IEQV46J04e4tISYkm/qrBaljkXAOeDSw=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 54165ce0-168f-4bec-801f-216fc25ae2e1
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6Q4YHqLoAMFmAg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 16:07:17 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"took":122,"limit":0,"facets":[{"facet":"document.publication.authorities","count":9,"details":[{"data":{"guid":"9127FF50-F1B9-11E5-862E-0938DC287387","acronym":"FDOE","descr":"Florida
        DOE"},"count":8562},{"data":{"descr":"Indiana DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","acronym":null},"count":5077},{"data":{"descr":"Michigan
        DOE","guid":"91290080-F1B9-11E5-862E-0938DC287387","acronym":"MDE"},"count":2552},{"count":2372,"data":{"descr":"Ohio
        DOE","acronym":null,"guid":"9127A816-F1B9-11E5-862E-0938DC287387"}},{"data":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"},"count":2372},{"count":2281,"data":{"descr":"Kansas State Department
        of Education","acronym":"KSDE","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387"}},{"count":1041,"data":{"guid":"912A8036-F1B9-11E5-862E-0938DC287387","acronym":"ALSDE","descr":"Alabama
        State Department of Education"}},{"count":571,"data":{"acronym":null,"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve"}},{"count":571,"data":{"descr":"Maryland
        State Department of Education","guid":"9129D578-F1B9-11E5-862E-0938DC287387","acronym":null}}]}],"count":25399,"offset":0}}'
  recorded_at: Mon, 21 Dec 2020 16:07:17 GMT
recorded_with: VCR 3.0.3
