---
http_interactions:
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1451520719&auth.signature=sp4II/UYGAJ/OxI3ry6RvVjX77QuIjO2IhqmLIz1Dls=&limit=100&list=authority&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"authority":{"guid":"A834F40C-901A-11DF-A622-0C319DFF4B22","descr":"Ohio","code":"OH"}}}],"count":3,"offset":0,"limit":100,"type":"standard","took":33}'
  recorded_at: Wed, 30 Dec 2015 22:12:00 GMT
recorded_with: VCR 3.0.1
