---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120641&auth.signature=abF%2BaK11N/FLUyhckKREpUfM6AUvoceWtD5Iuh45xjw=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 61eef104-d32c-4d59-a7e1-2886026e8bd5
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbaLUExkIAMF5TA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:30:42 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"took":100,"count":14601,"facets":[{"count":7,"facet":"document.publication.authorities","details":[{"count":5079,"data":{"acronym":null,"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387"}},{"count":2372,"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","descr":"Ohio
        DOE","acronym":null}},{"count":2372,"data":{"acronym":"CC","descr":"NGA Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22"}},{"count":2030,"data":{"guid":"9127FF50-F1B9-11E5-862E-0938DC287387","acronym":"FDOE","descr":"Florida
        DOE"}},{"count":1136,"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE","descr":"Kansas
        State Department of Education"}},{"count":1041,"data":{"guid":"912A8036-F1B9-11E5-862E-0938DC287387","acronym":"ALSDE","descr":"Alabama
        State Department of Education"}},{"data":{"descr":"Achieve","acronym":null,"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22"},"count":571}]}],"limit":0,"offset":0}}'
  recorded_at: Wed, 20 Jan 2021 03:30:42 GMT
recorded_with: VCR 3.0.3
