---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925376&auth.signature=YjIZqdpImG1gvjrlPb4foWEORrpohKPOUcCOLV7h1sw=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 60f49368-2206-428d-acf7-762f9294057f
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQROGl3oAMFcig=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:37 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"offset":0,"count":14683,"took":121,"facets":[{"count":7,"details":[{"data":{"guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","descr":"Indiana
        DOE","acronym":null},"count":5079},{"count":2454,"data":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"}},{"count":2372,"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Ohio
        DOE"}},{"data":{"acronym":"FDOE","descr":"Florida DOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"},"count":2030},{"count":1136,"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE","descr":"Kansas
        State Department of Education"}},{"count":1041,"data":{"acronym":"ALSDE","descr":"Alabama
        State Department of Education","guid":"912A8036-F1B9-11E5-862E-0938DC287387"}},{"data":{"acronym":null,"descr":"Achieve","guid":"095383F6-BBCB-11E1-9321-88419DFF4B22"},"count":571}],"facet":"document.publication.authorities"}],"limit":0}}'
  recorded_at: Wed, 10 Feb 2021 00:49:37 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925377&auth.signature=eFFOVdlpCkLs%2BomJiQID/2VTgF1wlx6YKKORiRfFFHg=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=100&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 0f9e4c37-7712-4d4d-93f4-2f23823f7893
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQRVH9bIAMFfEA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:38 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"next":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=100&offset=100","last":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=100&offset=2400","self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=100&offset=0"},"data":[{"id":"00FCCA23-5694-40CB-9EB5-EF98531A660C","attributes":{"label":null,"education_levels":{"grades":[{"code":"5"}]},"disciplines":{"subjects":[{"code":"LANG"}]},"status":"active","document":{"adopt_year":"2010","guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","publication":{"authorities":[{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"}],"descr":"Common Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22"},"descr":"English
        Language Arts/Literacy"},"section":{"guid":"5E1166C2-7377-11DF-A1E8-223D9DFF4B22","descr":"Grade
        5"},"statement":{"descr":"(Editing for conventions should demonstrate command
        of Language standards 1–3 up to and including grade 5 on page 29.)"},"level":4,"utilizations":[{"type":"clarification"}],"guid":"00FCCA23-5694-40CB-9EB5-EF98531A660C","number":{"prefix_enhanced":null}},"relationships":{"parent":{"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/00FCCA23-5694-40CB-9EB5-EF98531A660C/parent"},"data":{"id":"7FE35494-7440-11DF-93FA-01FD9CFF4B22","type":"standards"}}},"type":"standards"},{"type":"standards","id":"024581B2-74F7-11DF-80DD-6B359DFF4B22","attributes":{"education_levels":{"grades":[{"code":"1"}]},"label":null,"disciplines":{"subjects":[{"code":"LANG"}]},"status":"active","document":{"descr":"English
        Language Arts/Literacy","publication":{"descr":"Common Core St[...]
[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925377&auth.signature=eFFOVdlpCkLs%2BomJiQID/2VTgF1wlx6YKKORiRfFFHg=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=100&offset=300&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 3ba9e341-e8b3-478f-b765-72c9b8552e35
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQR3GM0IAMFyfw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:49:41 GMT
    body:
      encoding: UTF-8
      string: "{\"links\":{\"first\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+'A83297F2-901A-11DF-A622-0C319DFF4B22'&limit=100\",\"prev\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.authorities.guid+eq+'A83297F2-901A-11DF-A622-0C319DFF4B22'&limit=10[...]
[...]
