---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925407&auth.signature=LJD%2BraFXagk1%2Bj0VLBXGQ0GPIXmejLqFGF6ZpCqm77c=&facet=document.publication&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - f4686af7-88f7-456a-a13d-d71fea92f182
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQWDG3ToAMFq1g=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:50:08 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&limit=0&offset=0"},"data":[],"meta":{"facets":[{"details":[{"count":5079,"data":{"acronym":null,"descr":"Academic
        Standards","guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","title":"Academic
        Standards"}},{"data":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","acronym":"CCSS","descr":"Common
        Core State Standards","title":"Common Core State Standards"},"count":2454},{"count":2372,"data":{"acronym":null,"descr":"Learning
        Standards","guid":"E1D5D8B6-DA22-11E2-95B3-3B359DFF4B22","title":"Learning
        Standards"}},{"data":{"title":"Next Generation Sunshine State Standards","acronym":"NGSSS","descr":"Next
        Generation Sunshine State Standards","guid":"209823E4-2FB7-11DE-BA91-15719DFF4B22"},"count":2030},{"count":1136,"data":{"title":"College
        and Career Ready Standards","guid":"1FC58C24-ACC2-11E0-BB03-D6D7D51F4EFC","descr":"College
        and Career Ready Standards","acronym":"KCCRS"}},{"count":1041,"data":{"descr":"Course
        of Study","acronym":"COS","guid":"9935E84E-C0DA-11DA-844D-F1B58A7EE3C7","title":"Course
        of Study"}},{"data":{"title":"NGSS Arranged by Disciplinary Core Idea (DCI)","descr":"NGSS
        Arranged by Disciplinary Core Idea (DCI)","acronym":null,"guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22"},"count":571}],"facet":"document.publication","count":7}],"took":109,"limit":0,"offset":0,"count":14683}}'
  recorded_at: Wed, 10 Feb 2021 00:50:08 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925408&auth.signature=zFCTfP8DgD7ke2Zz2U1UlV7e7MEWtSo6fAYIRcgUWT4=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid%20eq%20%27964E0FEE-AD71-11DE-9BF2-C9169DFF4B22%27&limit=100&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - d4fe28c2-72e9-4516-9c30-0755a9b7d38e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQWJHGvIAMFXCw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:50:09 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"next":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''&limit=100&offset=100","last":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''&limit=100&offset=2400","self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+''964E0FEE-AD71-11DE-9BF2-C9169DFF4B22''&limit=100&offset=0"},"data":[{"relationships":{"parent":{"data":{"id":"7FE35494-7440-11DF-93FA-01FD9CFF4B22","type":"standards"},"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/00FCCA23-5694-40CB-9EB5-EF98531A660C/parent"}}},"id":"00FCCA23-5694-40CB-9EB5-EF98531A660C","attributes":{"statement":{"descr":"(Editing
        for conventions should demonstrate command of Language standards 1–3 up to
        and including grade 5 on page 29.)"},"disciplines":{"subjects":[{"code":"LANG"}]},"level":4,"section":{"descr":"Grade
        5","guid":"5E1166C2-7377-11DF-A1E8-223D9DFF4B22"},"number":{"prefix_enhanced":null},"label":null,"education_levels":{"grades":[{"code":"5"}]},"status":"active","utilizations":[{"type":"clarification"}],"document":{"adopt_year":"2010","descr":"English
        Language Arts/Literacy","guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","publication":{"descr":"Common
        Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","authorities":[{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"}]}},"guid":"00FCCA23-5694-40CB-9EB5-EF98531A660C"},"type":"standards"},{"relationships":{"parent":{"links":{"related":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards/024581B2-74F7-11DF-80DD-6B359DFF4B22/parent"},"data":{"type":"standards","id":"7D33D7B4-7440-11DF-93FA-01FD9CFF4B22"}}},"type":"standards","attributes":{"disciplines":{"subjects":[{"code":"LANG"}]},"level":3,"section":{"de[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925408&auth.signature=zFCTfP8DgD7ke2Zz2U1UlV7e7MEWtSo6fAYIRcgUWT4=&fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid%20eq%20%27964E0FEE-AD71-11DE-9BF2-C9169DFF4B22%27&limit=100&offset=100&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 71398838-2a68-4cea-92d1-05838c1ced19
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQWUEdrIAMFWDQ=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:50:10 GMT
    body:
      encoding: UTF-8
      string: "{\"links\":{\"first\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+'964E0FEE-AD71-11DE-9BF2-C9169DFF4B22'&limit=100\",\"prev\":\"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?fields%5Bstandards%5D=guid,education_levels.grades.code,label,level,section.guid,section.descr,number.prefix_enhanced,status,disciplines.subjects.code,document.guid,document.descr,document.adopt_year,document.publication.descr,document.publication.guid,document.publication.authorities,statement.descr,utilizations.type,parent&filter%5Bstandards%5D=document.publication.guid+eq+'964E0FEE-AD71-11DE-9BF2-C9169DFF4B22'&limit=100\",\"last\"[...]
[...]
