---
http_interactions:
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453255737&auth.signature=Fe7Ujng7aDCs4F97GrVdP8tf2Wxzk5PGF/yFAIZXyIE=&limit=100&list=authority&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"authority":{"guid":"A834F40C-901A-11DF-A622-0C319DFF4B22","descr":"Ohio","code":"OH"}}}],"count":3,"offset":0,"limit":100,"type":"standard","took":32}'
  recorded_at: Wed, 20 Jan 2016 00:08:57 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453255792&auth.signature=0PyNMFw8wiVYItd4AwtDFNyvmrjwmYM8iX4/Ni1xMWs=&authority=CC&limit=100&list=document&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"}}}],"count":1,"offset":0,"limit":100,"type":"standard","took":25}'
  recorded_at: Wed, 20 Jan 2016 00:09:52 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453256020&auth.signature=Fzsv9sFdzD%2BWdu6XDsOfgO7NRCJzc%2BWnFCersdFzzag=&limit=100&list=authority&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"authority":{"guid":"A834F40C-901A-11DF-A622-0C319DFF4B22","descr":"Ohio","code":"OH"}}}],"count":3,"offset":0,"limit":100,"type":"standard","took":35}'
  recorded_at: Wed, 20 Jan 2016 00:13:41 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453256021&auth.signature=AmKHcb1aC1fo36qcITovxUM16TW1ZUgvZOJ4fds44%2BE=&authority=CC&limit=100&list=document&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"}}}],"count":1,"offset":0,"limit":100,"type":"standard","took":27}'
  recorded_at: Wed, 20 Jan 2016 00:13:41 GMT
recorded_with: VCR 3.0.1
