---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120643&auth.signature=ft5hETjrHUeaa/ScN6s0b7bCKfOgZAU3e4DYq1CTp2I=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 6307559e-ee9b-4c15-9b9a-22b168d828ed
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbaLpGtEoAMFf1Q=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:30:44 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"facets":[{"details":[{"data":{"guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","descr":"Indiana
        DOE","acronym":null},"count":5079},{"count":2372,"data":{"descr":"Ohio DOE","guid":"9127A816-F1B9-11E5-862E-0938DC287387","acronym":null}},{"data":{"acronym":"CC","descr":"NGA
        Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22"},"count":2372},{"count":2030,"data":{"guid":"9127FF50-F1B9-11E5-862E-0938DC287387","descr":"Florida
        DOE","acronym":"FDOE"}},{"data":{"descr":"Kansas State Department of Education","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE"},"count":1136},{"count":1041,"data":{"acronym":"ALSDE","guid":"912A8036-F1B9-11E5-862E-0938DC287387","descr":"Alabama
        State Department of Education"}},{"count":571,"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve","acronym":null}}],"facet":"document.publication.authorities","count":7}],"took":120,"limit":0,"offset":0,"count":14601}}'
  recorded_at: Wed, 20 Jan 2021 03:30:44 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120644&auth.signature=0hraPg/%2BCaEGhDUtx0vKam36qEvXGHxdNAJ89JDE2zo=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - c7781793-8414-41ce-a4a8-6e419ff3823e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbaLwHb7oAMFS5g=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:30:44 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"offset":0,"limit":0,"facets":[{"details":[{"data":{"title":"Common
        Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","descr":"Common
        Core State Standards","acronym":"CCSS"},"count":2372}],"facet":"document.publication","count":1}],"count":2372,"took":107}}'
  recorded_at: Wed, 20 Jan 2021 03:30:44 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120644&auth.signature=0hraPg/%2BCaEGhDUtx0vKam36qEvXGHxdNAJ89JDE2zo=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a19f0035-[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120645&auth.signature=u5dMWoOxOZK3j0qjaQvOUkwNgr9BDR5PQwoeDr2usw8=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 7ce961b0-65d3-4d5a-92e0-bac6720714cb
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbaL9FuDIAMFnvw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:30:46 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"took":119,"count":2372,"facets":[{"details":[{"count":2372,"data":{"acronym":"CCSS","descr":"Common
        Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"}}],"facet":"document.publication","count":1}],"limit":0,"offset":0}}'
  recorded_at: Wed, 20 Jan 2021 03:30:46 GMT
recorded_with: VCR 3.0.3
