---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608578221&auth.signature=o36yfINRar0DOmMLopC/LyNeLgMJNRgOKMuMgqiqisk=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - b5e863de-39fb-45aa-82e5-2b4c199b8dd1
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6bGMFWYIAMF3Kw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 17:17:02 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"offset":0,"facets":[{"count":9,"details":[{"count":8562,"data":{"descr":"Florida
        DOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387","acronym":"FDOE"}},{"count":5077,"data":{"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387","acronym":null}},{"data":{"descr":"Michigan
        DOE","guid":"91290080-F1B9-11E5-862E-0938DC287387","acronym":"MDE"},"count":2552},{"data":{"acronym":null,"guid":"9127A816-F1B9-11E5-862E-0938DC287387","descr":"Ohio
        DOE"},"count":2372},{"data":{"descr":"NGA Center/CCSSO","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC"},"count":2372},{"count":2281,"data":{"descr":"Kansas
        State Department of Education","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE"}},{"count":1041,"data":{"acronym":"ALSDE","guid":"912A8036-F1B9-11E5-862E-0938DC287387","descr":"Alabama
        State Department of Education"}},{"data":{"descr":"Achieve","acronym":null,"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22"},"count":571},{"count":571,"data":{"guid":"9129D578-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Maryland
        State Department of Education"}}],"facet":"document.publication.authorities"}],"count":25399,"took":102,"limit":0}}'
  recorded_at: Mon, 21 Dec 2020 17:17:02 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608578222&auth.signature=sswsCFdK3PhFCaUtxMa4hCuYEPyY5wLx0Dqoq3crTus=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a36abeb7-7896-40fc-b5c1-8acd233b277d
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6bGTHtDIAMFr1A=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 17:17:02 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"facets":[{"details":[{"data":{"descr":"Common
        Core State Standards","title":"Common Core State Standards","acronym":"CCSS","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22"},"count":2372}],"facet":"document.publication","count":1}],"limit":0,"took":129,"offset":0,"count":2372}}'
  recorded_at: Mon, 21 Dec 2020 17:17:02 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608578805&auth.signature=aIROaBdizrFWzm1aqzabk05H509JAnIfC7TKdb3PW%2Bw=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 77b5322c-[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608578805&auth.signature=aIROaBdizrFWzm1aqzabk05H509JAnIfC7TKdb3PW%2Bw=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - b6cfa672-721b-4496-9a34-e7d4ceacbd1b
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6chfHgeoAMFoVA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 17:26:46 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"facets":[{"details":[{"data":{"title":"Common
        Core State Standards","descr":"Common Core State Standards","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","acronym":"CCSS"},"count":2372}],"facet":"document.publication","count":1}],"limit":0,"took":125,"offset":0,"count":2372}}'
  recorded_at: Mon, 21 Dec 2020 17:26:46 GMT
recorded_with: VCR 3.0.3
