---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925314&auth.signature=VirvUFk/2vyUGiDZpOPMoow43/M98z35qj7nRLo9KVM=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 685481b1-23a2-42f8-9886-a7ebf706c407
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQHhEU-IAMFiaQ=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:48:35 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"offset":0,"limit":0,"facets":[{"facet":"document.publication.authorities","details":[{"data":{"acronym":null,"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387"},"count":5079},{"count":2454,"data":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","acronym":"CC"}},{"count":2372,"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","descr":"Ohio
        DOE","acronym":null}},{"count":2030,"data":{"guid":"9127FF50-F1B9-11E5-862E-0938DC287387","descr":"Florida
        DOE","acronym":"FDOE"}},{"count":1136,"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","descr":"Kansas
        State Department of Education","acronym":"KSDE"}},{"count":1041,"data":{"acronym":"ALSDE","descr":"Alabama
        State Department of Education","guid":"912A8036-F1B9-11E5-862E-0938DC287387"}},{"data":{"descr":"Achieve","acronym":null,"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22"},"count":571}],"count":7}],"took":115,"count":14683}}'
  recorded_at: Wed, 10 Feb 2021 00:48:35 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925315&auth.signature=dhptO/lHA9w9/1eRo1d2t6Msaa0HGBRPNRSy0zmTgLw=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 80a33ac8-eaaa-4b48-ad88-35d359e72c8d
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQHoHCfoAMFvlA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:48:36 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"offset":0,"count":2454,"took":127,"limit":0,"facets":[{"count":1,"details":[{"count":2454,"data":{"descr":"Common
        Core State Standards","title":"Common Core State Standards","acronym":"CCSS","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22"}}],"facet":"document.publication"}]}}'
  recorded_at: Wed, 10 Feb 2021 00:48:36 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925316&auth.signature=XNiD7JTwF4yA2qa5BFH8g/2WezZT9Ssxbl7j/9Iyxn0=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 965d2994-2e[...]
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925316&auth.signature=XNiD7JTwF4yA2qa5BFH8g/2WezZT9Ssxbl7j/9Iyxn0=&facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid%20eq%20%27A83297F2-901A-11DF-A622-0C319DFF4B22%27&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 21406042-121c-4d5d-9211-162ecade5ef5
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQH2FOsIAMFRPw=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:48:37 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&filter%5Bstandards%5D=document.publication.authorities.guid+eq+''A83297F2-901A-11DF-A622-0C319DFF4B22''&limit=0&offset=0"},"data":[],"meta":{"offset":0,"limit":0,"facets":[{"facet":"document.publication","details":[{"data":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","descr":"Common
        Core State Standards","title":"Common Core State Standards","acronym":"CCSS"},"count":2454}],"count":1}],"took":126,"count":2454}}'
  recorded_at: Wed, 10 Feb 2021 00:48:37 GMT
recorded_with: VCR 3.0.3
