---
http_interactions:
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1454560986&auth.signature=hwhGsjfz1sg2Ko5SGS%2BO/U/nOWudz3WhFhf6aWUZu0g=&limit=100&list=authority&offset=0&partner.id=devconnect02&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"emsg":"","code":200,"category":"OK","imsg":""},"resources":[{"data":{"authority":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve","code":"NRC"}}},{"data":{"authority":{"code":"AL","descr":"Alabama","guid":"A8325A6C-901A-11DF-A622-0C319DFF4B22"}}},{"data":{"authority":{"code":"FL","descr":"Florida","guid":"A832E0B8-901A-11DF-A622-0C319DFF4B22"}}},{"data":{"authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"authority":{"descr":"Kansas","code":"KS","guid":"A833636C-901A-11DF-A622-0C319DFF4B22"}}},{"data":{"authority":{"guid":"A833C528-901A-11DF-A622-0C319DFF4B22","code":"MD","descr":"Maryland"}}},{"data":{"authority":{"descr":"NGA
        Center/CCSSO","code":"CC","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22"}}},{"data":{"authority":{"code":"OH","descr":"Ohio","guid":"A834F40C-901A-11DF-A622-0C319DFF4B22"}}}],"count":8,"offset":0,"limit":100,"type":"standard","took":25}'
  recorded_at: Thu, 04 Feb 2016 02:43:07 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1454560987&auth.signature=CruigJFJ875m2schkEzRo1BOsvqY4ofBuMTJiz5kPTQ=&authority=NRC&limit=100&offset=0&partner.id=devconnect02&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"emsg":"","code":200,"category":"OK","imsg":""},"resources":[{"data":{"deepest":"N","label":"Disciplinary
        Core Idea","grade":{"high":"K","seq":"500","low":"K"},"version":"1.3.0","course":{"descr":"Kindergarten","guid":"206582F0-A258-11E2-8B4D-9E4F9DFF4B22"},"authority":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve","code":"NRC"},"placeholder":"N","level":1,"subject_doc":{"descr":"Science
        (2013)","guid":"20759F6E-A258-11E2-8B4D-9E4F9DFF4B22"},"number":"K-PS2","guid":"47D4377C-A321-11E2-9E2C-DA629DFF4B22","document":{"guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22","title":"NGSS
        Arranged by Disciplinary Core Idea (DCI)"},"date_modified":"2015-12-18 09:20:29","descr":"Motion
        and Stability: Forces and Interactions","adopt_year":"2013","self":"http://api.academicbenchmarks.com/rest/v3/standards/47D4377C-A321-11E2-9E2C-DA629DFF4B22","subject":{"broad":"SCI","code":"SCI"},"has_relations":{"derivative":2},"status":"Active"}},{"data":{"adopt_year":"2013","has_relations":{"derivative":2},"subject":{"code":"SCI","broad":"SCI"},"self":"http://api.academicbenchmarks.com/rest/v3/standards/47D5243E-A321-11E2-9E2C-DA629DFF4B22","status":"Active","guid":"47D5243E-A321-11E2-9E2C-DA629DFF4B22","descr":"Plan
        and conduct an investigation to compare the effects of different strengths
        or different directions of pushes and pulls on the motion of an object.","date_modified":"2013-04-11
        09:17:49","document":{"title":"NGSS Arranged by Disciplinary Core Idea (DCI)","guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22"},"authority":{"descr":"Achieve","code":"NRC","guid":"095383F6-BBCB-11E1-9321-88419DFF4B22"},"course":{"guid":"206582F0-A258-11E2-8B4D-9E4F9DFF4B22","descr":"Kindergarten"},"placeholder":"N","parent":{"guid":"47D4377C-A321-11E2-9E2C-DA629DFF4B22"},"number":"K-PS2-1","subject_doc":{"guid":"20759F6E-A258-11E2-8B4D-9E4F9DFF4B22","descr":"Science
        (2013)"},"level":2,"deepest":"Y","label":"Performance Expectation","version":"1.3.0","grade":{"low":"K","seq":"500","high":"K"}}},{"data":{"descr":"Examples
        of pushes or pulls could include a string attached to an object being pulled,
        a person pushing an object, a person stopping a rolling ball, and two objects
        colliding [...]
[...]
