---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925537&auth.signature=FkU34l0UVIBW%2BLlxn4TYmSRjRvTtwx5qjjV1ZQQqxN0=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - a10f25cb-5468-4d51-b36f-edacae7e72a4
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQqVEiwoAMF4jQ=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:52:18 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"offset":0,"count":14683,"took":121,"facets":[{"count":7,"facet":"document.publication.authorities","details":[{"data":{"acronym":null,"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387"},"count":5079},{"data":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","acronym":"CC","descr":"NGA
        Center/CCSSO"},"count":2454},{"count":2372,"data":{"descr":"Ohio DOE","acronym":null,"guid":"9127A816-F1B9-11E5-862E-0938DC287387"}},{"data":{"descr":"Florida
        DOE","acronym":"FDOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"},"count":2030},{"count":1136,"data":{"descr":"Kansas
        State Department of Education","acronym":"KSDE","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387"}},{"data":{"descr":"Alabama
        State Department of Education","acronym":"ALSDE","guid":"912A8036-F1B9-11E5-862E-0938DC287387"},"count":1041},{"count":571,"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","acronym":null,"descr":"Achieve"}}]}],"limit":0}}'
  recorded_at: Wed, 10 Feb 2021 00:52:18 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1612925538&auth.signature=zwai3Tj2XyWA3Udw7lrYw0KiH5Ximf0vN1txecMS1t4=&facet=document.publication&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 874cb491-9cbe-477e-aaf3-a7bafd8fff7e
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - agQqbFA6IAMF82g=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 10 Feb 2021 00:52:18 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&limit=0&offset=0"},"data":[],"meta":{"offset":0,"count":14683,"took":126,"facets":[{"count":7,"facet":"document.publication","details":[{"count":5079,"data":{"acronym":null,"descr":"Academic
        Standards","title":"Academic Standards","guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B"}},{"count":2454,"data":{"title":"Common
        Core State Standards","descr":"Common Core State Standards","acronym":"CCSS","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22"}},{"data":{"descr":"Learning
        Standards","title":"Learning Standards","acronym":null,"guid":"E1D5D8B6-DA22-11E2-95B3-3B359DFF4B22"},"count":2372},{"count":2030,"data":{"acronym":"NGSSS","descr":"Next
        Generation Sunshine State Standards","title":"Next Generation Sunshine State
        Standards","guid":"209823E4-2FB7-11DE-BA91-15719DFF4B22"}},{"data":{"guid":"1FC58C24-ACC2-11E0-BB03-D6D7D51F4EFC","acronym":"KCCRS","descr":"College
        and Career Ready Standards","title":"College and Career Ready Standards"},"count":1136},{"data":{"title":"Course
        of Study","descr":"Course of Study","acronym":"COS","guid":"9935E84E-C0DA-11DA-844D-F1B58A7EE3C7"},"count":1041},{"data":{"acronym":null,"descr":"NGSS
        Arranged by Disciplinary Core Idea (DCI)","title":"NGSS Arranged by Disciplinary
        Core Idea (DCI)","guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22"},"count":571}]}],"limit":0}}'
  recorded_at: Wed, 10 Feb 2021 00:52:18 GMT
recorded_with: VCR 3.0.3
