---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608575522&auth.signature=EfiqwUCztsCfhJcf7Gzg%2B5gd%2BTaOHPHLJqcoZpHPVig=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 05dc19c1-f09b-43b8-9326-59ce47159205
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6UgcGJyIAMFVjA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 16:32:02 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"facets":[{"count":9,"facet":"document.publication.authorities","details":[{"data":{"descr":"Florida
        DOE","acronym":"FDOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"},"count":8562},{"count":5077,"data":{"descr":"Indiana
        DOE","acronym":null,"guid":"9128B2EC-F1B9-11E5-862E-0938DC287387"}},{"data":{"descr":"Michigan
        DOE","guid":"91290080-F1B9-11E5-862E-0938DC287387","acronym":"MDE"},"count":2552},{"count":2372,"data":{"guid":"9127A816-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Ohio
        DOE"}},{"count":2372,"data":{"acronym":"CC","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO"}},{"count":2281,"data":{"guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","acronym":"KSDE","descr":"Kansas
        State Department of Education"}},{"count":1041,"data":{"acronym":"ALSDE","guid":"912A8036-F1B9-11E5-862E-0938DC287387","descr":"Alabama
        State Department of Education"}},{"count":571,"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","acronym":null,"descr":"Achieve"}},{"count":571,"data":{"guid":"9129D578-F1B9-11E5-862E-0938DC287387","acronym":null,"descr":"Maryland
        State Department of Education"}}]}],"limit":0,"took":115,"offset":0,"count":25399}}'
  recorded_at: Mon, 21 Dec 2020 16:32:02 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1608575522&auth.signature=EfiqwUCztsCfhJcf7Gzg%2B5gd%2BTaOHPHLJqcoZpHPVig=&facet=document.publication&limit=0&offset=0&partner.id=devconnect02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - ae581484-62dd-476a-a5e5-7cd794fc1156
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - X6UgjGIuIAMFScg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Mon, 21 Dec 2020 16:32:03 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&limit=0&offset=0"},"data":[],"meta":{"took":127,"limit":0,"facets":[{"details":[{"data":{"guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","acronym":null,"title":"Academic
        Standards","descr":"Academic Standards"},"count":5077},{"data":{"acronym":"B.E.S.T.","guid":"ad9c9705-4834-11ea-bb5b-0e20088bb29a","title":"Benchmarks
        for Excellent Student Thinking Standards","descr":"Benchmarks for Excellent
        Student Thinking Standards"},"count":3762},{"data":{"acronym":null,"guid":"66A34B00-A702-11E6-B5B6-C37229C466BA","title":"K-12
        Standards","descr":"K-12 Standards"},"count":2438},{"count":2372,"data":{"title":"Common
        Core St[...]
