---
http_interactions:
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120800&auth.signature=9wFor%2BmNyJjuvvj/Iey%2BmjIsVazrcE2zvxNEPI6LIkg=&facet=document.publication.authorities&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - e71892c2-dd48-4406-819f-bcc1f277acff
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbakLHi9oAMFQIA=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:33:21 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication.authorities&limit=0&offset=0"},"data":[],"meta":{"took":109,"facets":[{"facet":"document.publication.authorities","details":[{"count":5079,"data":{"acronym":null,"descr":"Indiana
        DOE","guid":"9128B2EC-F1B9-11E5-862E-0938DC287387"}},{"data":{"acronym":null,"descr":"Ohio
        DOE","guid":"9127A816-F1B9-11E5-862E-0938DC287387"},"count":2372},{"count":2372,"data":{"acronym":"CC","guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO"}},{"count":2030,"data":{"acronym":"FDOE","descr":"Florida DOE","guid":"9127FF50-F1B9-11E5-862E-0938DC287387"}},{"count":1136,"data":{"acronym":"KSDE","guid":"9129A0F8-F1B9-11E5-862E-0938DC287387","descr":"Kansas
        State Department of Education"}},{"data":{"acronym":"ALSDE","descr":"Alabama
        State Department of Education","guid":"912A8036-F1B9-11E5-862E-0938DC287387"},"count":1041},{"count":571,"data":{"guid":"095383F6-BBCB-11E1-9321-88419DFF4B22","descr":"Achieve","acronym":null}}],"count":7}],"offset":0,"limit":0,"count":14601}}'
  recorded_at: Wed, 20 Jan 2021 03:33:21 GMT
- request:
    method: get
    uri: https://api.abconnect.certicaconnect.com/rest/v4.1/standards?auth.expires=1611120801&auth.signature=pTVvMwJdEdgdOpSgiPiOGWfOy%2BZZynugdkGXYM%2BN9fI=&facet=document.publication&limit=0&offset=0&partner.id=devconnect01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Amzn-Requestid:
      - 34a77353-dd1a-4779-957c-c8d9c68cd745
      X-Amzn-Remapped-Connection:
      - keep-alive
      X-Amz-Apigw-Id:
      - ZbakSGBDoAMF0eg=
      X-Amzn-Remapped-Server:
      - Apache/2.4.7 (Ubuntu)
      X-Amzn-Remapped-Date:
      - Wed, 20 Jan 2021 03:33:21 GMT
    body:
      encoding: UTF-8
      string: '{"links":{"self":"https://api.abconnect.certicaconnect.com/rest/v4.1/standards?facet=document.publication&limit=0&offset=0"},"data":[],"meta":{"count":14601,"offset":0,"limit":0,"facets":[{"facet":"document.publication","details":[{"count":5079,"data":{"acronym":null,"guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","descr":"Academic
        Standards","title":"Academic Standards"}},{"count":2372,"data":{"acronym":"CCSS","guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","descr":"Common
        Core State Standards","title":"Common Core State Standards"}},{"data":{"descr":"Learning
        Standards","title":"Learning Standards","guid":"E1D5D8B6-DA22-11E2-95B3-3B359DFF4B22","acronym":null},"count":2372},{"data":{"acronym":"NGSSS","title":"Next
        Generation Sunshine State Standards","descr":"Next Generation Sunshine State
        Standards","guid":"209823E4-2FB7-11DE-BA91-15719DFF4B22"},"count":2030},{"count":1136,"data":{"descr":"College
        and Career Ready Standards","title":"College and Career Ready Standards","guid":"1FC58C24-ACC2-11E0-BB03-D6D7D51F4EFC","acronym":"KCCRS"}},{"count":1041,"data":{"guid":"9935E84E-C0DA-11DA-844D-F1B58A7EE3C7","title":"Course
        of Study","descr":"Course of Study","acronym":"COS"}},{"data":{"acronym":null,"guid":"39294526-BF3F-11E1-8A35-552B9DFF4B22","title":"NGSS
        Arranged by Disciplinary Core Idea (DCI)","descr":"NGSS Arranged by Disciplinary
        Core Idea (DCI)"},"count":571}],"count":7}],"took":113}}'
  recorded_at: Wed, 20 Jan 2021 03:33:21 GMT
recorded_with: VCR 3.0.3
