---
http_interactions:
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453259007&auth.signature=Zx2vg/z9ncdnnZdEGY7k7uB1i23/SssXRsKMPluE1uw=&limit=100&list=document&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"document":{"guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","title":"Academic
        Standards"}}},{"data":{"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"}}},{"data":{"document":{"guid":"E1D5D8B6-DA22-11E2-95B3-3B359DFF4B22","title":"Learning
        Standards"}}}],"count":3,"offset":0,"limit":100,"type":"standard","took":37}'
  recorded_at: Wed, 20 Jan 2016 01:03:27 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1453259007&auth.signature=Zx2vg/z9ncdnnZdEGY7k7uB1i23/SssXRsKMPluE1uw=&document=964E0FEE-AD71-11DE-9BF2-C9169DFF4B22&limit=100&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/CEB79A48-67AD-11DF-AB5F-995D9DFF4B22","grade":{"high":"12","low":"K","seq":"350"},"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"},"subject_doc":{"guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","descr":"English
        Language Arts/Literacy (2010)"},"guid":"CEB79A48-67AD-11DF-AB5F-995D9DFF4B22","placeholder":"N","course":{"guid":"CF69C79A-67AD-11DF-AB5F-995D9DFF4B22","descr":"College-
        and Career-Readiness Anchor Standards"},"parent":{"guid":"CEC2CF6C-67AD-11DF-AB5F-995D9DFF4B22"},"subject":{"broad":"LANG","code":"LANG"},"version":"2.7.5","has_relations":{"derivative":1},"date_modified":"2010-05-24
        09:54:08","deepest":"N","descr":"Key Ideas and Details","level":2,"adopt_year":"2010","authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"number":"CCSS.ELA-Literacy.CCRA.R.1","status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/CEB87C92-67AD-11DF-AB5F-995D9DFF4B22","grade":{"high":"12","low":"K","seq":"350"},"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"},"subject_doc":{"guid":"CF6A375C-67AD-11DF-AB5F-995D9DFF4B22","descr":"English
        Language Arts/Literacy (2010)"},"guid":"CEB87C92-67AD-11DF-AB5F-995D9DFF4B22","placeholder":"N","course":{"guid":"CF69C79A-67AD-11DF-AB5F-995D9DFF4B22","descr":"College-
        and Career-Readiness Anchor Standards"},"parent":{"guid":"CEB79A48-67AD-11DF-AB5F-995D9DFF4B22"},"subject":{"broad":"LANG","code":"LANG"},"version":"2.7.5","has_relations":{"derivative":1},"date_modified":"2010-06-02
        08:36:30","deepest":"Y","descr":"Read closely to determine what the text says
        explicitly and to make logical inferences from it; cite specific textual evidence
        when writing or speaking to support conclusions drawn from the text.","level":3,"label":"Anchor
        Standard","adopt_year":"2010","authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"number":"CCSS.ELA-Literacy.CCRA.R.2","status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/CEB8EE66-67AD-11DF-AB5F-995D9DFF4B22","grade":{"high":"12","low":"K","seq":"350"},"document":{"guid":"964E0FEE-AD71-11DE-9BF2-C9169DFF4B22","title":"Common
        Core State Standards"},"subject_doc":{"guid":"CF6A375C-6[...]
[...]
