---
http_interactions:
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1451520856&auth.signature=hCLSetyE4AFpgz%2BPxBvXz/fyzEsCtgUcRhlyqr5%2BsiQ=&limit=100&list=authority&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"authority":{"guid":"A83297F2-901A-11DF-A622-0C319DFF4B22","descr":"NGA
        Center/CCSSO","code":"CC"}}},{"data":{"authority":{"guid":"A834F40C-901A-11DF-A622-0C319DFF4B22","descr":"Ohio","code":"OH"}}}],"count":3,"offset":0,"limit":100,"type":"standard","took":609}'
  recorded_at: Wed, 30 Dec 2015 22:14:17 GMT
- request:
    method: get
    uri: https://api.academicbenchmarks.com/rest/v3/standards?auth.expires=1451520857&auth.signature=KsJCTJ1yMqnvEKc3M%2BlO7GAvrIhvYzj0oK%2BJ55E0XXw=&authority=IN&limit=100&offset=0&partner.id=devconnect19&user.id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"status":{"imsg":"","emsg":"","category":"OK","code":200},"resources":[{"data":{"number":"1.RF","status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/81ce1544-ff83-42d4-bb3b-f0b8b1078e21","grade":{"high":"1","low":"1","seq":"510"},"document":{"guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","title":"Academic
        Standards"},"subject_doc":{"guid":"41ba4f1d-2568-4a2b-94d5-85c5d3dc22fc","descr":"English/Language
        Arts (2014)"},"guid":"81ce1544-ff83-42d4-bb3b-f0b8b1078e21","placeholder":"N","course":{"guid":"14e063e8-4bdb-4561-a4d1-055e97d4284c","descr":"Grade
        1"},"subject":{"broad":"LANG","code":"LANG"},"version":"4.5.0","has_relations":{"origin":1,"related_derivative":1},"date_modified":"2014-06-11
        11:56:06","deepest":"N","descr":"Reading: Foundations","level":1,"label":"Strand","adopt_year":"2014","authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"number":"1.RF.1","status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/007da077-c40b-4e03-a477-7d8847598176","grade":{"high":"1","low":"1","seq":"510"},"document":{"guid":"993690BE-C0DA-11DA-BD64-B7CEA439013B","title":"Academic
        Standards"},"subject_doc":{"guid":"41ba4f1d-2568-4a2b-94d5-85c5d3dc22fc","descr":"English/Language
        Arts (2014)"},"guid":"007da077-c40b-4e03-a477-7d8847598176","placeholder":"N","course":{"guid":"14e063e8-4bdb-4561-a4d1-055e97d4284c","descr":"Grade
        1"},"parent":{"guid":"81ce1544-ff83-42d4-bb3b-f0b8b1078e21"},"subject":{"broad":"LANG","code":"LANG"},"version":"4.5.0","date_modified":"2014-08-06
        11:43:11","deepest":"N","descr":"Learning Outcome","level":2,"adopt_year":"2014","authority":{"guid":"A8334A58-901A-11DF-A622-0C319DFF4B22","descr":"Indiana","code":"IN"}}},{"data":{"number":"1.RF.2","status":"Active","self":"http://api.academicbenchmarks.com/rest/v3/standards/c1406a1b-7d80-4b30-9e6a-d63f67be0ea8","grade":{"high":"1","low":"1","seq":"510"[...]
[...]
